*{
    margin: 0;
    padding: 0;
    background-color: rgb(84, 83, 83);
}

.expense-heading{
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 30px;
}

.expense-item{
    display: flex;
    padding: 10px 0 15px 25px;
    margin-bottom: 10px;
}

.expense-item_description{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.date{
    display: flex;
    font-size: 20px;
}

.price{
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: rgb(11, 11, 57);
    color: white;
    float: right;
    font-size: 15px;
    border: 2px solid white;
}

.expenseName{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
